@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wdth,wght@8..144,124,100..1000&display=swap);
* {
   margin: 0;
   padding: 0;
   font-family: Manrope;
}
body{
   background-color: #101014;
 }